.title-card{
    width:80vw;
    height: 50vh;
    margin:10%;
}

.center{
    margin:auto;
    width: 60%;
    padding: 10px;
}

.blue{
    color:rgb(64, 64, 210);
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.cadet-blue{
    color:cadetblue;
}

.btn{
    font-weight: 500;
}

.heading{
    font-weight: 500;
}